:root {
  --yellow: hsl(47, 88%, 63%);
  --grey: hsl(0, 0%, 50%);
}
@font-face {
  font-family: "Figtree";
  src: url(materials/Figtree-VariableFont_wght.ttf);
}
body {
  background: var(--yellow);
  font-family: "Figtree";
}
a {
  background: var(--yellow);
  padding: 7px;
  border-radius: 5px;
}
.card {
  background-color: white;
  width: 300px;
  border-radius: 20px;
  padding: 30px;
  filter: drop-shadow(10px+10px#000);
  border: 1px solid;
  margin: 50px auto;
}
.card > img {
  width: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.card div {
  display: flex;
  align-items: center;
}
.card .body {
  color: var(--grey);
}
.card div img {
  padding-right: 20px;
}
